@import 'constants.scss';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: $col-docBG;
  color: white;
}

.container {
  max-width: 1024px;
  width: 80%;
  margin: 10px auto;
  border-radius: 4px;
}

.color_0 {
  background: $col-divCol_1;
}

.color_1 {
  background: $col-divCol_2;
}

.color_2 {
  background: $col-divCol_3;
}

.color_3 {
  background: $col-divCol_4;
}

/*.divCol_5 {
  background: #00b300;
}*/


