@import 'constants.scss';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: $col-docBG;
  color: white;
}

.container {
  max-width: 1024px;
  width: 80%;
  margin: 10px auto;
  border-radius: 4px;
}

.color0 {
  background: $col-divCol_1;
  border-color: $col-divCol_1;
  border-style: solid;
}

.color1 {
  background: $col-divCol_2;
  border-color: $col-divCol_2;
  border-style: solid;
}

.color2 {
  background: $col-divCol_3;
  border-color: $col-divCol_3;
  border-style: solid;
}

.color3 {
  background: $col-divCol_4;
  border-color: $col-divCol_4;
  border-style: solid;
}

/*.divCol_5 {
  background: #00b300;
}*/


