@import '../constants.scss';

.header {
  padding: 10px;
  //border-bottom: 4px solid $col-divCol_1/*$col-border*/;
  color: white;
  font-size: 30px;
  text-align: center;
  //margin-bottom: 10px;
}