@import '../constants.scss';

label {
  display: block;
  border-bottom: 3px solid $col-docBG;
  text-align: center;
  padding: 10px 0;
}

label:last-child {
  //border: none;
  //margin-bottom: 0;
  //border: 5px solid grey;

}


.labelName, input {
  display: inline-block;
  font-size: 20px;
  margin: 15px;
}

.labelName {
  width: 60px;
  text-align: center;

}