@import '../constants.scss';

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  //background: red;
  height: 60px;
}

a {
  display: inline-block;
  align-items: center;
  text-decoration: none;
  outline: none;
  margin: auto;
  color: white;
  font-size: 20px;
  line-height: 40px;
  width: 25%;
  text-align: center;
  //background: lightseagreen;
  height: 40px;
}

